
/* body{
    background: #1097E4;
    background: linear-gradient(to right, #000, #fff);
} */
.bg{
    background-image: url('../assets/img/imglogin2.jpg');
    background-position: center center;
    background-size:cover;
}